$menuWidth: 300px;
$offsetY: 65px;
$transition: 0.25s ease;

.author-dashboard {
  h1 {
    line-height: 1;
    padding: 0.25rem;
    border-radius: 0.6rem;
    border-top: 1px;

    small {
      font-size: 1rem;
    }
  }
}